@{
    ViewBag.Title = "医院设置";
    Layout = "~/Views/Shared/_Pop.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/files/css/dtree.css" type="text/css" />
    <script src="/files/js/dtree.js" type="text/javascript"></script>

}
@section scripts
{
    <script src="/files/js/custom.js"></script>
    <script type="text/javascript">
        function Check() {
            if (!$().pageUtility.hasChecked("tree")) {
                $().pageUtility.alert("您当前没有选中任何医院!");
                return;
            } else {
                ck();
            }
        }
        function ck() {
            var ids = $().pageUtility.getChecked("tree");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: '/administrator/user/sethospital/@ViewData["UserID"]',
                data: "ids=" + ids,
                success: function (data) {
                    if (data.flag == "success") {
                        
                        $().pageUtility.createNotify("growl-success", false, "提示", "操作成功！正在重置页面...");
                        setTimeout("parent.location.reload()", 1000);
                    }
                    else {
                        $().pageUtility.closeLoading();
                        $().formValidator.setSubmitButtonState(true);
                    }
                    if (data.flag == "error") {
                        $().pageUtility.alert("提示", "出错了，请稍后再试！");
                    }
                    if (data.flag == "error2") {
                        $().pageUtility.alert("提示","您不能给自己设置医院！");
                    }
                }
            });
        }
        function checkdisease() {
            var ids = "";
            var form = document.getElementById("testForm");
            alert(form);
            for (var i = 0; i < form.elements.length; i++) {
                var element = form.elements[i];
                if (element.name == "id" && element.type == 'checkbox') {
                    if (element.checked == true) {
                        ids = ids + element.value + ",";
                    }
                }
            }
            return ids;
        }
    </script>
}
<div class="panel panel-default panel-min-hieght">
    <div class="panel-body">
        <form method="post" name="form1" id="form1" class="form-horizontal form-bordered">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>提示:</strong>加“*”号的是必填项
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12" id="tree">
                        <script type="text/javascript">
                            rightTree = new dTree('rightTree', '/files/css', 'testForm');
                            @Html.Raw("" + ViewBag.text + "")
                            document.write(rightTree);
                            rightTree.setDefaultCheck("@ViewBag.authids");
                        </script>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="buttons bottom-round noboder">
                            <div class="panel-footer">
                                <input type="button" onclick="javascript:Check();" class="btn btn-primary" value="提交" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

